.twitch_clip_player {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    border-radius: 5px;
}

.prev-clip {
    display: flex;
    flex-direction: column;
}

.next-clip {
    display: flex;
    flex-direction: column;
}