.menu {
    /* outline: 1px dashed red; */
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
}

.menu > header {
    /* outline: 1px solid blue; */
    align-self: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    margin-left: 1em;
}

.menu > ul.menu-list {
    /* outline: 1px dotted green; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
    margin-right: 1em;
}

.menu-item {
    margin-left: 5vw;
}

.menu-item > a {
    color: white;
}