.clip_item {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.clip_item_anchor {   
}

.clip_item_info {
}

.clip_item_info > .clip_title {
    font-weight: bold;
}

.clip_item_info > .clip_broadcaster_name {
    font-style: oblique; 
}